<div class="container center-card">
    <div class="card" style="width: 70rem; height: 30rem;">
        <div class="row py-5">
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <h2>TURNOS ACTUAL</h2>
                    <h3>Nombre Cliente</h3>
                    <h3>servicio</h3>
                    <h3>Turno</h3>
                </div>

            </div>
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <h2>OPCIONES</h2>
                    <button > SIGUIENTE </button>
                    <button > FINALIZAR </button>

                </div>
            </div>
        </div>
    </div>
</div>