  <br>

  <p>{{ dataTurnos.NOMBRE_EMPLEADO}}</p>
  <div class="card text-center" style="margin: auto; width: 940px;font-size: 20px;">
    <div class="card-header" style="background: aliceblue;">TURNOS ACTUAL </div>
    <div class="card-body" style="font-size: 20px;">
      <h5 class="card-title">{{dataTurnos.SERVICIO_DESCRIPCION}}</h5>
     <p>Nombre Cliente: {{dataTurnos.CLIENTE}}</p>
     <p>Turno: {{ dataTurnos.LUGAR }}</p>

     <p>Hora:{{dataTurnos.FECHA | date:'shortTime'}}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary"(click)="siguinteTurno()" style="margin: 5px;">Siguiente</a>
        <a href="#" class="btn btn-primary"(click)="finTurno()">Finalizar</a>
  
    </div>
  </div>
  